:root {
  --white: #f9fbfbFF;
  --black: #130e13FF;
  --lgreen: #c0ffbbFF;
  --dgreen: #a8ffa1FF;
  --lgrey: #201c2077;
  --dgrey: #201b2077;
}

@font-face {
  font-family: "OSBI";
  src: URL("../fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OS";
  src: URL("../fonts/OpenSauceOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OSI";
  src: URL("../fonts/OpenSauceOne-Italic.ttf") format("truetype");
}


img[src$='#img'] {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

body * {
  font-family: "OS";
}

.logo {
  font-family: "OSBI";
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  margin-right: auto;
  line-height: 42px;
}

.logo:hover {
  background: linear-gradient(300deg, #c0ffbb, #a8ffa1);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  font-family: "OSI";
}

h1 {
  font-family: "OSBI";
  text-transform: uppercase;
  font-size: 26px;
}

h2 {
  font-family: "OSBI";
  text-transform: uppercase;
  font-size: 22px;
}

.title {
  font-family: "OS";
  text-decoration: none;
}

.blogtitle {
  font-family: "OS";
  text-decoration: none;
  font-size: 32px;
}

.blogtitle:hover {
  background: linear-gradient(300deg, #c0ffbb, #a8ffa1);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  font-family: "OSI";
}

.left-align {
  text-align: left;
}

.box {
  background-color: var(--lgreen);
  border-radius: 4px;
  padding: 12px;
  color: var(--black);
  background: linear-gradient(300deg, var(--lgreen), var(--dgreen));
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

.lightbox {
  background-color: var(--lgrey);
  border-radius: 4px;
  padding: 12px;
  color: var(--white);
  background: linear-gradient(300deg, var(--lgrey), var(--dgrey));
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
  font-family: "OSI";
  margin-top: 12px
}

.boxtitle {
  font-size: 36px;
  color: var(--black);
  margin-bottom: 14px;
}

.two-column {
  display: flex;
}

.text-column-left {
  width: 33.33333%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-column-left {
  width: 66.6666%;
  margin-left: 12px;
}

.text-column-right {
  width: 33.3333%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-column-right {
  width: 66.6666%;
  margin-right: 12px;
}

.image-sidebyside-left {
  max-width: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.image-sidebyside-right {
  max-width: 50%;
  object-fit: cover;
}

.coverimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.footer {
  font-family: "OSI";
  font-size: 12px;
  color: #646464;
}

.summary {
  text-decoration: none;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.nav-link {
  text-align: center;
}

.nav-link {
  font-family: "OS" !important;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--dgreen);
}

div {
  color: var(--white)
}

.tags {
  padding-top: 10px;
}

.textheader {
  font-family: "OSI";
  font-size: 20px;
  border: 1px solid var(--white);
  padding: 16px;
  border-radius: 2px;
  display: inline-flex;
  width: 100%;
}

.stag {
  padding-left: 10px;
}

.text-center {
  text-align: center !important;
}

.gradient-background {
  background: linear-gradient(300deg, #c0ffbb, #a8ffa1);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

.shadow {
  -webkit-box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.33);
  box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.33);
}

.button {
  background-color: #f9fbfd;
  color: #130e13;
  border: 2px solid #c0ffbb;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 7px;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.3s ease-out;
}


.button:hover {
  border: 2px solid #f9fbfd;
  background: linear-gradient(300deg, var(--lgreen), var(--dgreen));
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  html body {
  background-color: var(--black);
  }

  h1, h2, h3, p, div {
  color: var(--white)
  }

  a {
  color: var(--white);
  }
  
  .nav-link {
  color: var(--white);  
  }
}

@media (prefers-color-scheme: light) {
  html body {
  background-color: var(--white);
  }

  h1, h2, h3, p, div, a {
  color: var(--black)
  }

  a {
  color: var(--black);
  }
  
  .nav-link {
  color: var(--black);  
  }
}
