:root {
  --white: #fffae2FF;
  --black: #050a00FF;
  --primary: #002300FF;
  --secondary: #050a00FF;
  --grey1: #201c2077;
  --grey2: #201b2077;
  --warning: #E06C6C66;
  --tip: #6CE09266;
  --note: #6CB9E066;
  --info: #F0B37566;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: var(--black);
  scroll-behavior: smooth;
}

.container {
  flex-grow: 1;
}

table, th, td {
  border: 1px solid var(--white);
  border-collapse: collapse;
  padding: 3px;
}

@font-face {
  font-family: "OSBI";
  src: URL("../fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OS";
  src: URL("/fonts/OpenSauceOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OSI";
  src: URL("/fonts/OpenSauceOne-Italic.ttf") format("truetype");
}

img[src$='#img'] {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
}

img[src$='#img']:hover {
  border-radius: 55px!important;
}

.video {
  width:100%;
  
}

body * {
  font-family: "OS";
}

.padder {
  padding:30px;
  padding-top:50px;
}

.fill {
  flex:1;
}

.float {
  position: relative;
  top: 50%;
  transform: translate(0, -60%);
}


.flex {
  display:flex;
}

.logo {
  width: 225px;
  background-repeat: no-repeat;
  background-position: center;
  /*background-image:url("/img/logonight.svg");*/
}

a {
  font-family: "OSI";
}


h1 {
  font-family: "OSBI";
  /*text-transform: uppercase;*/
  font-size: 26px;
}

h2 {
  font-family: "OSBI";
  /*text-transform: uppercase;*/
  font-size: 22px;
}

.title {
  font-family: "OS";
  text-decoration: none;
}

.blogtitle {
  font-family: "OS";
  text-decoration: none;
  font-size: 36px;
}

/*.blogtitle:hover {*/
/*}*/

.navitems{
  display:inherit;
  text-align:center;
  padding:10px;
}

.makeInline {
  display:inline-block
}

.link {
  font-family: "OSI";
}

.left-align {
  text-align: left;
}

.textbox {
  border-radius: 8px;
  background:url("/img/noise.webp"), linear-gradient(300deg, var(--primary), var(--secondary));
  background-size: 100%, 100%;
  transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
  border: 1px solid var(--primary); 
}

.textbox:hover{
  border-radius:45px;
}

.lightbox {
  background-color: var(--grey1);
  border-radius: 4px;
  padding: 12px;
  color: var(--white);
  background: linear-gradient(300deg, var(--grey1), var(--grey2));
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
  font-family: "OSI";
  margin-top: 12px
}

.boxtitle {
  font-size: 36px;
  margin-bottom: 14px;
}

.two-column {
  display: flex;
}

.coverimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
}

.coverimage:hover {
  border-radius:55px
}

.footer {
  font-family: "OSI";
  font-size: 12px;
  color: #646464;
  line-height: 1.7;
}

.summary {
  text-decoration: none;
}

.nav {
  padding-top: 20px;
}

a.nav-link {
  text-align: center;
}

.nav-link {
  font-family: "OS" !important;
  text-decoration: none;
  margin:10px;
}

div {
  color: var(--white)
}

.tags {
  padding-top: 10px;
}

.textheader {
  font-family: "OSI";
  font-size: 20px;
  border: 1px solid var(--white);
  padding: 16px;
  border-radius: 8px;
  display: inline-flex;
  width: 100%;
}

.stag {
  padding-left: 10px;
}

.text-center {
  text-align: center !important;
}

.gradient-background {
  background: linear-gradient(300deg, #c0ffbb, #a8ffa1);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

.shadow {
  -webkit-box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.23);
  box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.23);
}

.button {
  background-color: #f9fbfd;
  color: #130e13;
  border: 2px solid #c0ffbb;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 7px;
  border-radius: 40px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}


.button:hover {
  border: 2px solid #f9fbfd;
  background: linear-gradient(300deg, var(--primary), var(--secondary));
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

/* Define the default emoji for the menu items */
.nav-link::before {
    content: attr(data-emoji); /* Set default emoji */
}

/* Define different emojis on hover for each menu item */
.nav-link:hover::before {
    content: attr(data-hover-emoji); /* Set hover emoji */
}

.notice {
    position: relative;
    padding: 1em 1em 2em 2.5em;
    margin: -5px;
    margin-bottom: .5em;
    margin-top: .5em;
    border-radius: 4px;
  
    p:last-child {
      margin-bottom: 0;
    }

    p{
      margin-left: 20px;
    }
  
    .notice-title {
      position: absolute;
      left: 16px;
      margin-top: 14px;
      font-size: 1.2em;
  
      .notice-icon {
        width: 1.2em;
        height: 1.2em;
      }
    }
  
    &.notice-warning {
      border-radius: 8px;
      border: 1px solid var(--warning); 
    }
  
    &.notice-info {
      border-radius: 8px;
      border: 1px solid var(--info); 
    }
  
    &.notice-note {
      border-radius: 8px;
      border: 1px solid var(--note); 
    }
  
    &.notice-tip {
      border-radius: 8px;
      border: 1px solid var(--tip); 
    }
}

@media (prefers-color-scheme: dark) {
  html body {
  background-color: var(--black);
  }

  h1, h2, h3, p, div {
  color: var(--white)
  }

  a {
  color: var(--white);
  }
  
  .nav-link {
  color: var(--white);  
  }

  .logo {
    /*background-image:url("/img/logonight.svg")*/
  }

  ::selection {
    color: #ee77ab;
  }
}

@media (prefers-color-scheme: light) {
  html body {
  background-color: var(--white);
  }

  h1, h2, h3, p, div, a {
  color: var(--black)
  }

  a {
  color: var(--black);
  }
  
  .nav-link {
  color: var(--black);  
  }

  .logo {
    /*background-image:url("/img/logoday.svg")*/
  }

  .textbox {
    background: var(--white);
    background-size: 100%, 100%;
    animation: gradient-animation 18s ease infinite;
    transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
    border: 1px solid var(--grey1); 
  }

  ::selection {
    color: #ed8941;
  }

}

