:root {
  --white: #fffae2FF;
  --black: #050a00FF;
  --primary: #002300FF;
  --secondary: #050a00FF;
  --grey1: #201c2077;
  --grey2: #201b2077;
  --warning: #E06C6C88;
  --tip: #6CE09288;
  --note: #6CB9E088;
  --info: #F0B37588;
  --magic: #ee44dd88;
}

* {
  box-sizing: border-box;
}

.logo-fallback {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  background-color: var(--black);
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

.container {
  flex-grow: 1;
  width: 100%;
}

table, th, td {
  border: 1px solid transparent;
  border-collapse: collapse;
  padding: 5px;
}

@font-face {
  font-family: "OSBI";
  src: URL("/fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OS";
  src: URL("/fonts/OpenSauceOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OSI";
  src: URL("/fonts/OpenSauceOne-Italic.ttf") format("truetype");
}

img[src$='#img'] {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
}

img[src$='#img']:hover {
  border-radius: 55px!important;
}

.video-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 8px
}

.video {
    width: 100%;
    max-width: 100%;
    display: block;
}

body * {
  font-family: "OS";
  box-sizing: border-box;
}

.padder {
  padding:30px;
  padding-top:50px;
}

.fill {
  flex:1;
}

.float {
  position: relative;
  top: 50%;
  transform: translate(0, -60%);
}


.flex {
  display:flex;
}

.logo {
  width: 225px;
  background-repeat: no-repeat;
  background-position: center;
  /*background-image:url("/img/logonight.svg");*/
}

a {
  font-family: "OSI";
}


h1 {
  font-family: "OSBI";
  font-size: 26px;
}

h2 {
  font-family: "OSBI";
  font-size: 22px;
}

.title {
  font-family: "OS";
  text-decoration: none;
}

.blogtitle {
  font-family: "OS";
  text-decoration: none;
  font-size: 36px;
}

.navitems{
  display:inherit;
  text-align:center;
  padding:10px;
}

.makeInline {
  display:inline-block
}

.link {
  font-family: "OSI";
}

.left-align {
  text-align: left;
}

.textbox {
  border-radius: 8px;
  background:url("/img/noise.webp"), linear-gradient(300deg, var(--primary), var(--secondary));
  background-size: 100%, 100%;
  transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
  border: 1px solid var(--primary); 
}

.textbox:hover{
  border-radius:45px;
}

.lightbox {
  background-color: var(--grey1);
  border-radius: 4px;
  padding: 12px;
  color: var(--white);
  background: linear-gradient(300deg, var(--grey1), var(--grey2));
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
  font-family: "OSI";
  margin-top: 12px
}

.boxtitle {
  font-size: 36px;
  margin-bottom: 14px;
}

.two-column {
  display: flex;
}

.coverimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
}

.coverimage:hover {
  border-radius:55px
}

.footer {
  font-family: "OSI";
  font-size: 12px;
  color: #646464;
  line-height: 1.7;
}

.summary {
  text-decoration: none;
}

.nav {
  padding-top: 20px;
}

a.nav-link {
  text-align: center;
}

.nav-link {
  font-family: "OS" !important;
  text-decoration: none;
  margin:10px;
}

div {
  color: var(--white)
}

.tags {
  padding-top: 10px;
}

.textheader {
  font-family: "OSI";
  font-size: 20px;
  border: 1px solid var(--white);
  padding: 16px;
  border-radius: 8px;
  display: inline-flex;
  width: 100%;
}

.stag {
  padding-left: 10px;
}

.text-center {
  text-align: center !important;
}

.gradient-background {
  background: linear-gradient(300deg, #c0ffbb, #a8ffa1);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

.shadow {
  -webkit-box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.23);
  box-shadow: 3px 3px 50px -20px rgba(0, 0, 0, 0.23);
}

.button {
  background-color: #f9fbfd;
  color: #130e13;
  border: 2px solid #c0ffbb;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 7px;
  border-radius: 40px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}


.button:hover {
  border: 2px solid #f9fbfd;
  background: linear-gradient(300deg, var(--primary), var(--secondary));
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

/* Define the default emoji for the menu items */
.nav-link::before {
    content: attr(data-emoji); /* Set default emoji */
}

/* Define different emojis on hover for each menu item */
.nav-link:hover::before {
    content: attr(data-hover-emoji); /* Set hover emoji */
}

.notice {
    position: relative;
    padding: 1em 1em 2em 2.5em;
    margin: 0.5em 0;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.notice p:last-child {
    margin-bottom: 0;
}

.notice p {
    margin-left: 20px;
}

.notice .notice-title {
    position: absolute;
    left: 16px;
    margin-top: 14px;
    font-size: 1.2em;
}

.notice .notice-title .notice-icon {
    width: 1.2em;
    height: 1.2em;
}

.notice.notice-warning {
    border: 1px solid var(--warning);
}

.notice.notice-info {
    border: 1px solid var(--info);
}

.notice.notice-note {
    border: 1px solid var(--note);
}

.notice.notice-tip {
    border: 1px solid var(--tip);
}

.notice.notice-magic {
    border: 1px solid var(--magic);
}

/* Add mobile-specific adjustments */
@media screen and (max-width: 768px) {
    .notice {
        margin: 0.5em 0;
        padding: 1em 1em 2em 2em;
    }
    
    .notice p {
        margin-left: 10px;
    }
}

@media (prefers-color-scheme: dark) {
html, body {
  background-color: var(--black);
  }

  h1, h2, h3, p, div {
  color: var(--white)
  }

  a {
  color: var(--white);
  }
  
  .nav-link {
  color: var(--white);  
  }

  ::selection {
    color: #ee77ab;
  }
}

@media (prefers-color-scheme: light) {
  html, body {
  background: url("/img/noise_light.webp");
  }

  h1, h2, h3, p, div, a {
  color: var(--black)
  }

  a {
  color: var(--black);
  }
  
  .nav-link {
  color: var(--black);  
  }

  .textbox {
    background: transparent;
    background-size: 100%, 100%;
    transition: all 0.2s cubic-bezier(.41,.06,.24,.99);
    border: 1px solid var(--grey1); 
  }

  ::selection {
    color: #ed8941;
  }

}

img {
  max-width: 100%;
  height: auto;
}