@font-face {
  font-family: "OSBI";
  src: URL("../fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OS";
  src: URL("../fonts/OpenSauceOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OSI";
  src: URL("../fonts/OpenSauceOne-Italic.ttf") format("truetype");
}

img[src$='#center'] {
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}

img[src$='#img'] {
  border-radius:4px;
  object-fit: cover;
  max-width: 100%;
}
body * {
  font-family: "OS";
}

.logo {
	font-family: "OSBI";
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  margin-right:auto;
  line-height: 42px;
}

a {
  font-family: "OSI";
  color:black;
}

h1 {
  font-family: "OSBI";
  text-transform: uppercase;
  font-size: 24px;
}

h2,{
  font-family: "OSBI";
  text-transform: uppercase;
  font-size 18px;
  color: black;
}

.title {
  font-family: "OS";
  text-decoration: none;
}

.link {
  font-family: "OSI";
}

.banner {
  height: 400px;
  width: 100%;
  background-image: url("../img/header.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}

.footer {
  font-family: "OSI";
  font-size:12px;
  color: grey;
  padding-top: 10px;
}

.summary {
  text-decoration: none;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.nav-link {
  text-align: center;
}

.nav-link {
  font-family: "OS" !important;
  color: grey;
}

.nav-link:hover {
  color:black;
}

.tags {
  padding-top: 10px;
}

.textheader {
  font-family: "OSI";
  font-size: 24px;
  border: 1px solid black;
  padding: 16px;
  border-radius: 2px;
  display: inline-flex;
  width: 100%;
}

.stag {
  padding-left: 10px;
}
