<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- partial "security-headers.html" . -}}
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.svg">
    {{ $title := .Site.Title }}
    {{ if not .IsHome }}
            {{ $title = print $title " | " .Title }}
    {{ end }}
    <title>{{ $title }}</title>
</head>
