<div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center"><a class="logo" style="text-decoration:none;" href="/">&nbsp;</a><div class="navitems">
        {{ range .Site.Menus.main }}
    <a class="nav-link" href="{{ .URL }}" data-emoji="{{ if eq .Name "Pictures" }}📷{{ else if eq .Name "Animation" }}🚀{{ else if eq .Name "Blog" }}📁{{ else if eq .Name "Contact" }}📫{{ end }}" data-hover-emoji="{{ if eq .Name "Pictures" }}📸{{ else if eq .Name "Animation" }}🪐{{ else if eq .Name "Blog" }}📂{{ else if eq .Name "Contact" }}📬{{ end }}">

        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
        </div>
    </nav>
</div>

