{{/* rive.html */}}
{{ $scriptSrc := .Get "script" | default "https://unpkg.com/@rive-app/canvas" }}
{{ $riveSrc := .Get "src" | default "https://test.daanblom.xyz/daanblomdotcom.riv" }}
{{ $width := .Get "width" | default "500" }}
{{ $height := .Get "height" | default "500" }}
{{ $stateMachine := .Get "stateMachine" | default "StateMachine" }}

<canvas id="canvas" width="{{ $width }}" height="{{ $height }}"></canvas>

<script src="{{ $scriptSrc }}"></script>
<script>
  const r = new rive.Rive({
    src: "{{ $riveSrc }}",
    canvas: document.getElementById("canvas"),
    autoplay: true,
    stateMachines: "{{ $stateMachine }}",
    onLoad: () => {
      r.resizeDrawingSurfaceToCanvas();
    },
  });
</script>