{{/* socials.html */}}                       
<div class="row gx-4"> 
    <div class="col-md-4 p-2">              
         <img class="textbox" src="{{ .Get "text" }}">                                             
    </div>
    <div class="col-md-4 p-2">              
        <img class="textbox" src="{{ .Get "text" }}">                                             
    </div>
    <div class="col-md-4 p-2">              
        <img class="textbox" src="{{ .Get "text" }}">                                             
    </div>
</div> 
