{{/* video.html */}}                       
<script>
const player = new Plyr('video');
window.player = player;
</script>

<div class="roundedCorners">
	<video controls crossorigin playsinline poster="/static/Reel-DaanBlom.mp4" width="100%" style="border-radius:4px;">
		 <source src="/static/Reel-DaanBlom.mp4" type="video/mp4" size="576">
		 <source src="/static/Reel-DaanBlom.mp4" type="video/mp4" size="720">
		 <source src="/static/Reel-DaanBlom.mp4" type="video/mp4" size="1080">
	</video>
</div>
