{{/* video.html */}}                       
<div class="roundedCorners gx-4">
	<video controls crossorigin playsinline poster="" width="100%" class="video">
		 <source src="/vid/Reel-DaanBlom.mp4" type="video/mp4" size="1080">
	</video>
  <details>
    <br><br>
  <summary>Shot by shot discription</summary>
		<p>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
			00:02 - Project title, role<br>
		</p>
</details>
</div>
